body{
    background-color: #f2f2f2;
}

.login{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contato{
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

/*
#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem; 
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;          
  }
*/